/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

/* Стили для секций */
section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Стили для ссылок внутри секции */
section a {
    text-decoration: underline;
}

/* Стили для списка продуктов */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
